p {
    text-align: center;
    color: white;
    font-size: 30px;
    background-color: white;
}

body {
    background: url("https://lh3.googleusercontent.com/-kXgnoxygqxg/VZ_BKQZouzI/AAAAAAAAOKw/3t37cBDLrLkUetLA8AfsDAngwIzD-9XFwCJoC/w500-h629-n/a14%2Bcosmic%2Benergies%2Bgif.gif");
    background-size: cover;
    text-align: center;
    border: 20px;
    border: 20px groove blue;
}

img {
    width: 600px;
    border: solid;
    color: white;
}

h1 { color: white;
}

p {
    font-family: 'Pacifico', cursive;
}

li {
    color: white;
    font-size: 28px;
    font-family: 'pacifico',cursive;
}

.football {
    color: darkblue;
}



.food {
    color: brown;
}

.game {
    color: orange;
}

.dance {
    color: yellow;
}

.guard {
    color: lightblue;
}

.cardinals {
    color: red;
}

